######################################################
## Project-specific files which may contain secrets ##
######################################################

settings.py
host_settings.py
app.yaml


#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

################################
## Other files/folders to ignore
################################

testing
*.bak
[Aa]rchive
Logs
*_v[0-9].[0-9].[0-9][0-9][0-9]*
* [0-9][0-9][0-9][0-9]-[0-1][0-9]-[0-3][0-9]*
* - Copy.*
,*_orig
.hg
.hg*
\! Current changes.txt
Changes since last commit.txt
version_info.txt

#############
## Python
#############

*.py[cod]
