{% comment %}

This is the Django template used by test-taskqueue.py
{% endcomment %}
<!doctype html>
<html>
    <head>
        {% if status == "starting" or status == "building" %}
            <meta http-equiv="refresh" content="{{ refresh_interval }}">
        {% endif %}
        
        <title>{{ app_title }}</title>
        <link rel="stylesheet" type="text/css" href="tasks-backup.css"></link>
        <script type="text/javascript">

            function disableDisplayHtmlButton() {
                document.getElementById("display-tasks-button").value = "Building display page (this may take many minutes) ...";
                document.getElementById("display-tasks-button").innerHTML = "Building display page (this may take many minutes) ...";
                document.getElementById("display-tasks-button").disabled = true;
                // Also disable retrieve button, since clicking it after display button 
                // has been clicked, results in display process being interrupted. 
                // Display button stays disabled, user get selected download file, 
                // but user never sees the display page.
                document.getElementById("retrieve-tasks-button").disabled = true;
            }
            
        
        </script>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-30118203-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>

<body>
    <div class="usertitle">
        Authorised user: {{ user_email }} <span class="logout-link">[ <a href="{{ logout_url }}">Log out</a> ]</span>
    </div>

    <h2>{{ app_title }}</h2>

    {% if host_msg %}
        <div class="break">
            <h3>{{ host_msg }}</h3>
        </div>
    {% endif %}

    {% if msg %}
        <div class="break">
            <p>Msg = {{ msg }}</p>
		</div>
    {% endif %}
    
    {% if error_message %}
        <div class="take-note break">
        {{ error_message }}
        </div>
		<div class="break">
			Please report this error at <a href="http:/{{ url_issues_page }}">{{ url_issues_page }}</a>
		</div>
    {% endif %}
    
    {% if status == "no-record" %}
        <div class="break">
            No backup for current user. Please <a href="{{ home_page_url }}" >start a backup</a> first.
        </div>
        <form method="POST" action="/">
            <button type="submit">Start backup</button>
        </form>
    {% endif %}
    
    
    {% if status == "starting" or status == "building" %}
        <div class="break">
            This page will auto-refresh every {{ refresh_interval }} seconds to indicate how many tasks have been retrieved so far.
		</div>
    {% endif %}
    
    {% if status == "completed" %}
        <div class="break">
            Backup completed. Retrieved {{ progress }} tasks.
            {% if include_completed %}
                <br/>
                <span class="comment">Includes completed tasks</span>
            {% else %}
                <br/>
                <span class="comment">Excludes completed tasks</span>
            {% endif %}
            {% if include_hidden %}
                <br/>
                <span class="comment">Includes hidden tasks</span>
            {% endif %}
            {% if include_deleted %}
                <br/>
                <span class="comment">Includes deleted tasks</span>
            {% endif %}
		</div>
    {% else %}
    <div class="break">
            Status = {{ status }}
		</div>
        <div class="break">
            Progress = {{ progress }}
		</div>
    {% endif %}
    
    {% if status == "completed" %}
        <div class="break">
            Note that this backup is a snapshot of tasks as at {{ job_start_timestamp }} UTC 
            and will not reflect changes made after that time. 
            You will need to rerun <a href="{{ home_page_url }}" >{{ app_title }}</a>
            to create a new backup.
        </div>
        <div class="break">
        </div>
        <!-- Choose format to return backup data -->
        <form method="POST" action="{{ results_url }}" >
			<fieldset>
				<legend>Export all tasks</legend>
				<table class="format-selection">
					<!--<col width="20%">
					<col width="80%">-->
					<tr>
						<td class="format-name">
							<input type="radio" name="format" value="outlook" checked="checked" /> Outlook CSV<br />
						</td>
						<td>
							CSV file suitable for importing into Outlook.
						</td>
					</tr>
					<tr>
						<td class="format-name">
							<input type="radio" name="format" value="ics" /> iCal ICS<br />
						</td>
						<td>
							iCal .ICS file suitable for importing into many calendar applications.
						</td>
					</tr>
					<tr>
						<td class="format-name">
							<input type="radio" name="format" value="raw" /> Raw CSV<br />
						</td>
						<td>
							CSV file containing all available properties for each task.
							<br />
							Google stores up to 15 properties for a task, but not all are used for every task.
						</td>
					</tr>
					<tr>
						<td class="format-name">
							<input type="radio" name="format" value="raw1" /> Raw CSV, formatted dates<br />
						</td>
						<td>
							Same as Raw CSV, but with date/timestamps formatted suitable for reading by Excel.
						</td>
					</tr>
                    {% if display_technical_options %}
                        <tr>
                            <td class="format-name">
                                <input type="radio" name="format" value="py" /> Python<br />
                            </td>
                            <td>
                                Python data structure.
                            </td>
                        </tr>
                        <tr>
                            <td class="format-name">
                                <input type="radio" name="format" value="py1" /> Nested Python<br />
                            </td>
                            <td>
                                Python data structure. Tasks have a 'children' element, which contains that task's sub-tasks (if they exist)
                            </td>
                        </tr>
                        <tr>
                            <td class="format-name">
                                <input type="radio" name="format" value="hTodo" /> hTodo<br />
                            </td>
                            <td>
                                hTodo (not currently working)
                            </td>
                        </tr>
                    {% endif %}
					<tr>
						<td class="format-name">
							<input type="radio" name="format" value="RTM" /> RTM email<br />
						</td>
						<td>
							Emails tasks in Remember The Milk format. 
                            <span class="take-note-smaller">(Notes 1, 2 &amp; 3)</span>
						</td>
					</tr>
					</table>
					<br />

				<button type="submit" id="retrieve-tasks-button" class="big-button" >Retrieve tasks data</button>
			</fieldset>
        </form>
        
        <div class="break">
        </div>
        <form method="POST" action="{{ results_url }}" onsubmit="disableDisplayHtmlButton();" >
            <input type="hidden" name="format" value="html_raw" />
            <input type="hidden" name="job_start_timestamp" value="{{ job_start_timestamp }}" />
			<fieldset>
				<legend>Display all tasks as a single web page, suitable for printing <span class="take-note-smaller"> (Note 4)</legend>
				<table class="format-selection">
					<tr>
						<td>
							<input type="checkbox" name="dim_completed_tasks" value="True" checked="checked" >
								&nbsp;Dim completed tasks? <span class="take-note-smaller"> (Note 5)</span>
							</input>
						</td>
					</tr>
					<tr>
						<td>
							<input type="checkbox" name="display_completed_date_field" value="True" checked="checked" >
								&nbsp;Display completed date field?
							</input>
						</td>
					</tr>
					<tr>
						<td>
							<input type="checkbox" name="display_due_date_field" value="True" checked="checked" >
								&nbsp;Display due date field?
							</input>
						</td>
					</tr>
					<tr>
						<td>
							<input type="checkbox" name="display_updated_date_field" value="True" >
								&nbsp;Display updated date field?
							</input>
						</td>
					</tr>
				</table>
				<br />
				<button id="display-tasks-button" type="submit" class="big-button" >Display tasks page</button>
			</fieldset>
        </form>
        <div class="break">
        </div>
        
        <div class="heading">
            Notes;
        </div>
        <table  class="format-selection">
            <tr>
                <td class="note-heading-smaller">
                    Note 1 - 
                </td>
                <td>
                    Attempting to email large tasklists will fail due to App Engine limits.
                </td>
            </tr>
            <tr>
                <td class="note-heading-smaller">
                    Note 2 - 
                </td>
                <td>
                    It appears that RTM will not import more than 50 tasks.
                </td>
            </tr>
            <tr>
                <td class="note-heading-smaller">
                    Note 3 - 
                </td>
                <td>
                    Any header text must be removed before forwarding the received email to your RTM import email address. The first line in the email must be a task.
                </td>
            </tr>
            <tr>
                <td class="note-heading-smaller">
                    Note 4 - 
                </td>
                <td>
                    The resultant web page will contain all the tasks in all the task lists. 
                    There is no pretty formatting, so a page break may occur in the middle of a task.
                    <br/>
                    Note that the resultant printout can be MANY pages (especially when tasks have notes). 
                    973 tasks in 7 tasklists resulted in 141 pages.
                </td>
            </tr>
            <tr>
                <td class="note-heading-smaller">
                    Note 5 - 
                </td>
                <td>
                    If checked, the HTML page will display completed tasks using a grey font. Hidden and deleted tasks are always dim.
                </td>
            </tr>
        </table>
    {% endif %}


	<div class="project-footer">
        <div class="break">
            Version {{ app_version }} ({{ upload_timestamp }})
        </div>
        
		<div class="break">
			Questions or comments? Go to <a href="http://{{ url_discussion_group }}">{{ url_discussion_group }}</a>
			or email <a href="mailto:{{ email_discussion_group }}">{{ email_discussion_group }}</a>
		</div>
		<div class="break">
			Please report bugs or suggest improvements at <a href="http:/{{ url_issues_page }}">{{ url_issues_page }}</a>
		</div>
		<div class="break">
			Source code for this project is at <a href="http://{{ url_source_code }}">{{ url_source_code }}</a>
		</div>
	</div>

</body>
</html>
