	<div class="project-footer">
        <div class="break">
            Version {{ app_version }} ({{ upload_timestamp }})
        </div>
		<div class="break">
			Questions, comments or suggestions? Go to <a href="http://{{ url_discussion_group }}">{{ url_discussion_group }}</a>
			or email <a href="mailto:{{ email_discussion_group }}">{{ email_discussion_group }}</a>
		</div>
		<div class="break">
            You can submit bugs using GitHub at <a href="http://{{ url_issues_page }}">{{ url_issues_page }}</a>, then click on [New issue]
            <div class="comment">
                If you do not have a GitHub account (and do not wish to create one), you can submit bugs through the discussion group at
                <br />
                <a href="http://{{ url_discussion_group }}">{{ url_discussion_group }}</a>
                or email <a href="mailto:{{ email_discussion_group }}">{{ email_discussion_group }}</a>
            </div>
		</div>
		<div class="break">
			Source code for this project is at <a href="http://{{ url_source_code }}">{{ url_source_code }}</a>
		</div>
        <div class="break">
            {{ app_title }} uses cookies for three purposes;
            <ul>
                <li>Google uses cookies to track your authorisation credentials between pages. This ensure that you (and only you) can get the results of your backup request.</li>
                <li><a href="http://www.google.com/analytics/">Google Analytics</a> is used to track usage such as; number of unique visitors, location, browser type, operating system. </li>
                <li>To manage user selection of export type, timezone and tasks display settings.</li>
            </ul>
        </div>
	</div>
            
