        <div class="take-note-para notice-box">
            <p>
                <b>
                    NOTICE: Some time after early February 2019, the Google Tasks server changed the order in which tasks are returned, which broke how GTB handles subtasks.
                </b>
            </p>
            <p class="take-note-larger">
                Prior to 27 March 2019, GTB may not have included all subtasks in most export formats.
            </p>
            <p style="margin-bottom: 3px;">
                Prior to 27 March 2019, the only GTB export formats which included all subtasks were;
            </p>
            <ul style="margin-top: 3px;">
                <li>Raw CSV</li>
                <li>Raw CSV, formatted dates</li>
                <li>Raw CSV, RFC3339 timestamps</li>
                <li>Python</li>
            </ul>
            <p>
                <b>
                    If you have used any other export formats prior to 27 Mar 2019, those backups may not contain subtasks.
                </b>
            </p>
            <p>
                Any exports after 27 Mar 2019 should now include all subtasks. If you experience any issues, please report a bug as per the instructions at the bottom of this page.
            </p>
        </div>
