        <div class="display-if-cookies-disabled warning-box">
            <p class="take-note-larger">
                <b>Cookies must be enabled to use {{ app_title }}</b>
            </p>
            <ul>
                <li>
                    Tasks are encrypted whilst they are stored in {{ app_title }}, so that they can only be accessed by you.
                </li>
                <li>
                    The encryption key required to export your tasks is stored in a cookie in your browser.
                </li>
                <li>
                    If cookies are not enabled, you cannot use {{ app_title }} to export or view your tasks.
                </li>
                <li>
                    To enable cookies, search for <b><code>enable cookies</code></b> with the name of your browser and operating system. e.g.; 
                    <ul class="nice-gap-top">
                        <li><code>enable cookies chrome windows</code></li>
                        <li><code>enable cookies firefox linux</code></li>
                        <li><code>enable cookies opera macos</code></li>
                    </ul>
                </li>
            </ul>
            <p>
                If you believe this to be an error, please report error 'ECDW' using one of the error reporting links below
            </p>
        </div>
